<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Supr Razorpay
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Supr Razorpay</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-button color="primary" (click)="handleButtonClick()">Initiate Payment</ion-button>
  </div>
</ion-content>
