<head> </head>
<body>
  <%- exposeLocalsToBrowser() %>
  <script>
    const {
      success,
      razorpay_payment_id,
      razorpay_order_id,
    } = window.SAILS_LOCALS;
    alert("Success: ", success, razorpay_payment_id);
  </script>
</body>
