<head>
  <script src="https://checkout.razorpay.com/v1/razorpay.js"></script>
</head>
<body>
  <%- exposeLocalsToBrowser() %>
  <script>
    const { data } = window.SAILS_LOCALS;
    const { amount, currency, paymentInfo, email, contact } = data;
    if (
      !amount ||
      !currency ||
      !contact ||
      !email ||
      !paymentInfo ||
      !Razorpay
    ) {
      alert("Something went wrong");
    } else {
      const razorpayData = {
        amount,
        currency,
        contact,
        email,
        ...JSON.parse(data.paymentInfo),
      };
      const razorpay = new Razorpay({ key: "rzp_test_DC3ldWhmgBrKFt" });
      razorpay.createPayment({
        ...razorpayData,
        callback_url: "http://localhost:1337/paymentCallback/",
        redirect: true,
      });
    }
  </script>
</body>
